.navbar {
    background-color: black;
}

.navbar-brand {
    font-family: 'Unica One', cursive;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: white;
    align-self: left;
}

.navbar-nav {
    font-family: 'Karla';
    font-size: 14px;
    line-height: 1.375;
}

body,
a, btn-watch {
    background-color: black;
    font-family: 'Karla';
    text-transform: uppercase;
}

.jumbotron-bg {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    /* If our image is bright, we can tone it down with this darker overlay */
    background: url('img/jumbo_hero_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 300px;
}

.video-bg {
    background: rgba(255, 255, 255, 0.2);
    /* If our image is bright, we can tone it down with this darker overlay */
    background: url('img/video_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 200px;
}

.red-box {
    background-color: red;
    position: relative;
    padding: 25px;
}

p {
    color: white;
    text-transform: none;
    text-align: center;
    margin-top: 25px;
}

.btn-dark {
    color: white;
    background-color: black;
    opacity: 0.85;
    border: none;
}

.btn-watch {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color:#ffffff;
  opacity: 1;
}